* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

h1 {
  font-size: 60px;
  font-family: Raleway, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

nav {
  display: flex;
  align-items: center;
}

nav>a {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  padding-right: 20px;
}

.content {
  display: flex;
  justify-content: space-around;
  margin: 2% 13%;
}

.image {
  display: inline-block;
  background: gray;
  width: 400px;
  height: 500px;
}

p {
  display: inline-block;
  font-family: Glegoo, sans-serif;
  font-size: 20px;
  line-height: 40px;
  width: 700px;
  margin: 0% 5%;
  text-align: justify;
}
/*
  ===========================================
              MEDIA QUERIES
  ============================================
 */

 @media only screen and (max-width: 960px) {
 }

 @media only screen and (max-width: 660px) {

 }

 @media only screen and (max-width: 450px) {
   body {
     width: 100%;
     display: flex;
     flex-direction: column;
   }

   header {
     flex-direction: column;
     align-items: center;
     width: 100%;
     margin-top: 10%;
     margin-bottom: 10%;
     text-align: center;
   }

   header>h1 {
     font-size: 40px;
   }

   nav>a {
     font-size: 15px;
     padding-right: 15px;
   }

   .content {
     display: flex;
     flex-direction: column;
   }

   .image {
     height: 250px;
     width: 100%;
   }

   p {
     font-size: 15px;
     width: 100%;
     line-height: 20px;
     margin: 10px 0px;
     text-align: justify;
   }
 }
