
header {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 60px;
  font-family: Raleway, sans-serif;
}

nav {
  display: flex;
  align-items: center;
}

nav>a {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 20px;
  padding-right: 20px;
}

.brand-statement-bg {
  height: 500px;
  background-image: url('../static/media/patterns-png-transparent.png');
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;

}

.brand-statement {
  width: 808px;
  height: 318px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.brand-statement>h2 {
  font-family: Glegoo, sans-serif;
  font-size: 35px;
}

.social-links {
  font-size: 35px;
  padding-bottom: 5%;
}

#projects, #contact {
  text-align: center;
  font-size: 40px;
}

.section {
  text-transform: uppercase;
  font-family: Glegoo, sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-left: 2%;
  padding-right: 2%;
}

.device-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.device {
  background-size: cover;
  width: 500px;
  height: 300px;
  background-image: url('../static/media/browser-window-no-url.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.device-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-form {
  height: 600px;
  background-image: url('../static/media/patterns-png-transparent.png');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* .flap {
  width: 0;
  height: 0;
  border-left: 525px solid transparent;
  border-right: 525px solid transparent;
  border-bottom: 100px solid white;
}

.letter {
  font-family: Satisfy, sans-serif;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  width: 1056px;
  height: 300px;
  background: #fff;
  display: flex;
  flex-direction: column;
} */


.envelope {
  /* position: relative; */
  margin: 50px auto 0;
  width: 490px;
  height: 66px;
  background: #8D99AE;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 1px #8D99AE inset;
}
.envelope:before,
.envelope:after {
  content: '';
  /* position: absolute; */
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-width: 165px 245px;
}

.envelope:before {
  border-bottom-color: #8D99AE;
  top: -1000%;
  left: 0px;
}
.envelope:after {
  border-right-color: #EDF2F4;
  border-left-color: #EFF4F7;
  border-bottom-color: #EFF4F7;
  top: 0;
  border-radius: 0 0 5px 5px;
  transform: rotate(360deg);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.paper {
  background: #fff;
  width: 435px;
  height: 330px;
  margin: 0 auto;
  border-radius: 5px;
  /* position: absolute; */
  left: 30px;
  top: -90px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.paper:before,
.paper:after {
  content: '';
  /* position: absolute; */
  left: 60px;
  background: #e3f1fc;
  height: 20px;
  border-radius: 5px;
}

.letter {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
}
