* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

h1 {
  font-size: 60px;
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

nav>a {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 20px;
  padding-right: 20px;
}

body {
  width: 100%;
}

.brand-statement-bg {
  height: 500px;
  background-image: url('../static/media/patterns-png-transparent.png');
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;

}

.brand-statement {
  width: 808px;
  height: 318px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.brand-statement>h2 {
  font-family: Glegoo, sans-serif;
  font-size: 35px;
}

.social-links {
  font-size: 35px;
  padding: 5% 0%;
}

#projects, #contact {
  text-align: center;
  font-size: 40px;
}

#projects {
  margin-top: 7%;
}

#contact {
  margin: 7% 0%;
}

.section {
  text-transform: uppercase;
  font-family: Glegoo, sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding: 0% 2%;
}

.device-row {
  display: flex;
  justify-content: space-around;
  margin: 4% 0%;
}


.project-mock {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 280px;
  position: relative;
  top: 20px;
}

.your-city-cares {
  background-image: url('../static/media/your-city-cares-mock.png');
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-city-cares:hover{
  opacity: 0.3;
}

.your-city-cares>p {
  visibility:hidden;
}

.your-city-cares:hover p {
  visibility:visible;
  font-family: Raleway, sans-serif;
  color: black;
  text-shadow: 2px 2px #E7D79D;
  font-size: 40px;
  font-weight:bold;
}

.rock-paper-scissors {
  background-image: url('../static/media/rock_paper_scissors__2x.png')
}

.tearoom {
  background-image: url('../static/media/tearoom.png');
}

.pixelart {
  background-image: url('../static/media/PixelArtDemo.png');
}

.dentist {
  background-image: url('../static/media/dentist-office.png');
}

.weather {
  background-image: url('../static/media/weather.png');
}

.project-mock:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

a {
  color: black;
}

.contact-btn {
  display: none;
}

/* ===========================================
              MEDIA QUERIES
  ============================================
 */

 @media only screen and (max-width: 960px) {
 }

 @media only screen and (max-width: 660px) {

 }

 @media only screen and (max-width: 450px) {

   body {
     width: 100%;
   }


   .brand-statement-bg{
     width: 100%;
     height: 300px;
     background-repeat: repeat;
   }

   .brand-statement {
     height: 150px;
     width: 100%;
   }

   .brand-statement>h2, .social-links, nav>a {
     font-size: 20px;
   }

   header {
     flex-direction: column;
     align-items: center;
     width: 100%;
     margin-top: 10%;
     margin-bottom: 10%;
     text-align: center;
   }

   header>h1 {
     font-size: 40px;
   }

   nav>a {
     font-size: 15px;
     padding-right: 15px;
   }

   .device-row {
     flex-direction: column;
     margin: 0% 2%;
   }

   .maincontainer {
     height: 20%;
   }

   .card {
     display: none;
   }

   .contact-btn {
     height: 50px;
     width: 150px;
     background-color: #4D5466;
     display: inline;
     border-radius: 10px;
   }

   .contact-btn>a {
     font-size: 15px;
     color: #E7D79D;
     font-family: Raleway, sans-serif;
   }

   .project-mock, .card {
     width: 100%;
   }


 }
