* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

h1 {
  font-size: 60px;
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

nav>a {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 20px;
  padding-right: 20px;
}

body {
  width: 100%;
}

.brand-statement-bg {
  height: 500px;
  background-image: url('../static/media/patterns-png-transparent.png');
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;

}

.brand-statement {
  width: 808px;
  height: 318px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.brand-statement>h2 {
  font-family: Glegoo, sans-serif;
  font-size: 35px;
}

.social-links {
  font-size: 35px;
  padding: 5% 0%;
}

#projects, #contact {
  text-align: center;
  font-size: 40px;
}

#projects {
  margin-top: 7%;
}

#contact {
  margin: 7% 0%;
}

.section {
  text-transform: uppercase;
  font-family: Glegoo, sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding: 0% 2%;
}

.device-row {
  display: flex;
  justify-content: space-around;
  margin: 4% 0%;
}


.project-mock {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 280px;
  position: relative;
  top: 20px;
}

.tearoom {
  background-image: url('../static/media/tearoom.png');
}

.spottunes {
  background-image: url('../static/media/spottunes-landing.png');
}

.dentist {
  background-image: url('../static/media/dentist-office.png');
}

.weather {
  background-image: url('../static/media/weather.png');
}

.project-mock:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

a {
  color: black;
}


/* ===========================================
              MEDIA QUERIES
  ============================================
 */

 @media only screen and (max-width: 960px) {
 }

 @media only screen and (max-width: 660px) {

 }

 @media only screen and (max-width: 450px) {

   body {
     width: 100%;
   }


   .brand-statement-bg{
     width: 100%;
     height: 300px;
     background-repeat: repeat;
   }

   .brand-statement {
     height: 150px;
     width: 100%;
   }

   .brand-statement>h2, .social-links, nav>a {
     font-size: 20px;
   }

   header {
     flex-direction: column;
     align-items: center;
     width: 100%;
     margin-top: 10%;
     margin-bottom: 10%;
     text-align: center;
   }

   header>h1 {
     font-size: 40px;
   }

   nav>a {
     font-size: 15px;
     padding-right: 15px;
   }

   .device-row {
     flex-direction: column;
     margin: 0% 2%;
   }

   .maincontainer {
     height: 60%;
   }

   .card {
     display: flex;
     align-items: flex-start;
     justify-content: center;
   }


   #postcard-front, #postcard-back {
     width: 300px;
     height: 250px;
   }

   .send{
     width: 10%;
     height: 10%;
     margin: 10px;
   }

   .fa-paper-plane {
   	font-size: 10px;
   }

   #postcard-back {
     display: flex;
     flex-direction: column;
   }

   textarea {
     width: 250px;
     height: 100px;
     margin-top: 10px;
     border: 1px solid black;
     font-size: 15px;
     overflow: auto;
   }

   #rightbox {
     width: 250px;
     height: 100px;
     float: none;
   }

   #input {
     padding: 0;
   }

   #input>input{
     width: 50px;
     width: 100px;
     font-size: 15px;
   }

   .back-send {
    width: 50px;
    height: 50px;
    font-size: 10px;
   }

   .project-mock, .card {
     width: 100%;
   }


 }
